version: '{build}'

environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      platform: x86
      GENERATOR: Visual Studio 14 2015
      CONFIG: Release

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      platform: x86
      GENERATOR: Visual Studio 14 2015
      CONFIG: Debug

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      platform: x86
      GENERATOR: Visual Studio 15 2017
      CONFIG: Release

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      platform: x86
      GENERATOR: Visual Studio 15 2017
      CONFIG: Debug

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      platform: x64
      GENERATOR: Visual Studio 14 2015 Win64
      CONFIG: Release

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      platform: x64
      GENERATOR: Visual Studio 14 2015 Win64
      CONFIG: Debug

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      platform: x64
      GENERATOR: Visual Studio 15 2017 Win64
      CONFIG: Release

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      platform: x64
      GENERATOR: Visual Studio 15 2017 Win64
      CONFIG: Debug

before_build:
  - cmake . -G "%GENERATOR%" -DLZ4_STREAM_UseBundledLz4=ON

build_script:
  - cmake --build . --config "%CONFIG%"

test_script:
  - ctest -C "%CONFIG%" -V -j
